<mat-nav-list>
  <a routerLink="/signup" mat-list-item (click)="onClose()">
    <mat-icon>account_circle</mat-icon>
    <span class="nav-list-name">Signup</span>
  </a>
  <a routerLink="/login" mat-list-item (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-list-name">Login</span>
  </a>
  <a routerLink="/training" mat-list-item (click)="onClose()">
    <mat-icon>directions_run</mat-icon>
    <span class="nav-list-name">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>local_hotel</mat-icon>
      <span class="nav-list-name">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>