<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav-list (clickClose)="sidenav.close()"></app-side-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <app-header (toggleSidebar)="toggle()"></app-header>
    </header>
    <main style="height: 100%; margin-top: 65px">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
