a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgrey;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.active-link,
.active-link:active,
.active-link:focus {
  color: lightgrey;
}

